body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: white;
}

.hexa-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.hexa-border {
    position: relative;
    width: 260px;
    height: 260px;
    background-color: #1a1a1a;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hexa {
    position: relative;
    width: 250px;
    height: 250px;
    background: #BBD9FF;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform 0.3s ease, background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    color: black;
}

.hexa:hover {
    background: #cce2fe;
}

.hexa-border:hover {
    transform: scale(1.10);
    color: #000000;
}

.title {
    font-size: 36px;
    font-weight: bold;
    transition: opacity 0.3s ease-in-out;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14px;
    color: #000000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    font-size: 15px;
}

.hexa:hover .title {
    opacity: 0;
}

.hexa:hover .info {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .hexa-container {
        gap: 0;
        flex-direction: column;
    }

    .row:nth-child(2) {
        margin-top: -30px;
    }

    .hexa-border {
        width: 200px;
        height: 200px;
    }

    .hexa {
        width: 190px;
        height: 190px;
    }

    .title {
        font-size: 18px;
    }

    .info {
        font-size: 13px;
    }
}

/* iphonexr */
@media (min-width: 376px) and (max-width: 414px) {
    .hexa-container {
        gap: 15px;
        flex-direction: column;
    }

    .row:nth-child(2) {
        margin-top: -40px;
        gap: 15px;
    }

    .hexa-border {
        width: 160px;
        height: 160px;
    }

    .hexa {
        width: 150px;
        height: 150px;
    }

    .title {
        font-size: 16px;
    }

    .info {
        font-size: 10px;
    }
}

/* iphoneSE */
@media screen and (max-width:376px) {
    .hexa-container {
        gap: 20px;
        flex-direction: column;
    }

    .row:nth-child(2) {
        margin-top: -40px;
        gap: 20px;
    }

    .hexa-border {
        width: 110px;
        height: 110px;
    }

    .hexa {
        width: 100px;
        height: 100px;
    }

    .title {
        font-size: 16px;
    }

    .info {
        font-size: 7px;
    }
}